<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="progress" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <progress>
      <add key="Username" value="%TelerikNugetFeedUserName%" />
      <add key="ClearTextPassword" value="%TelerkNugetFeedPassword%" />
    </progress>
  </packageSourceCredentials>

</configuration>